<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="BasePath" value="http://agl-developer-test.azurewebsites.net"/>
  </appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IDataProvider" type="PeopleUtils.IDataProvider, PeopleUtils" />
    <namespace name="PeopleUtils" />
    <assembly name="PeopleUtils" />
    <container>
     <register type="IDataProvider" name="DataFromWeb" mapTo="DataFromWeb">
     </register>
     <register type="IDataProvider" name="DataFromString" mapTo="DataFromString">
     </register>
    </container>
   </unity>
</configuration>